.centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

#board-outside {
  width: 450px;
  height: 450px;
  background-color: #E5CCAA;
  border-radius: 5%;
  box-shadow: 3px 3px 5px 6px #666;
}

#board-inside {
  width: 375px;
  height: 375px;
  background: #272636;
}

#back-button {
  margin-top: 4rem;
}
